.dvc/config.local
.dvc/cache
.dvc/tmp
.mypy_cache/*
**/__pycache__

models/*
data/*
!data/*.dvc
!data/labels.txt # Стандартные лейблы
outputs/*
pred/*
runs/*
!runs/.gitkeep # Т.к. ненастраиваемый каталог
