.dvc/config.local
.dvc/cache
.dvc/tmp
.mypy_cache/*
**/__pycache__
mlflow.db

models/*
data/*
!data/*.dvc
!data/labels.txt # Стандартные лейблы
outputs/*
pred/*
runs/*
dist/*
test_predict/*
mlruns/*
!runs/.gitkeep # Т.к. ненастраиваемый каталог
